{% load static %}
<link rel="stylesheet" href="{% static 'main/style.css' %}">

<div class="admin-container">
  <h2>User List</h2>

  <table class="admin-table">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
    {% for u in users %}
    <tr>
      <td>{{ u.full_name }}</td>
      <td>{{ u.email }}</td>
      <td>
        <a href="/delete-user/{{ u.id }}/" class="delete-btn">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </table>

  <a href="/admin-dashboard/" class="back-link">⬅ Back</a>
</div>
