{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Cart</title>
  <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>
<body>

<div class="navbar">
  <h1>Food Delivery 🍔</h1>
</div>

<div class="form-container">
  <h2>Your Cart</h2>

  {% if cart %}
    {% for id, item in cart.items %}
      <p>
        {{ item.name }} |
        ₹{{ item.price }} × {{ item.qty }}
       = ₹{{ item.item_total }}

      </p>
    {% endfor %}

    <hr>
    <h3>Total: ₹{{ total }}</h3>

    <a href="/place-order/" class="order-btn">Place Order</a>
  {% else %}
    <p>Your cart is empty.</p>
  {% endif %}
</div>

</body>
</html>
